{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block htmltitle %}HubDrop{% endblock %}</title>

          {% block head %}
              <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
          {% endblock %}
    </head>
    <body>
        <div id="content">

          <h1><a href='{{ path('_home') }}'>{% block title 'HubDrop.io' %}</a></h1>

          {% block body %}
              {% for flashMessage in app.session.flashbag.get('notice') %}
                  <div class="flash-message">
                      <em>Notice</em>: {{ flashMessage }}
                  </div>
              {% endfor %}

              <div class="block">
                  {% block content %}{% endblock %}
              </div>
          {% endblock %}
        </div>
    </body>
</html>
