{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
      <title>{% block htmltitle %}HubDrop{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/hubdrop.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        
          {% block head %}
              <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
          {% endblock %}

      <link href="/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div id="content">
          <img src='/img/logo.png'>

          <h1><a href='{{ path('_home') }}'>{% block title 'HubDrop.io' %}</a></h1>
          <p class='lead'>Mirror drupal.org projects on GitHub.</p>
          {% block body %}
              {% for flashMessage in app.session.flashbag.get('notice') %}
                  <div class="flash-message">
                      <em>Notice</em>: {{ flashMessage }}
                  </div>
              {% endfor %}

              <div class="block">
                  {% block content %}{% endblock %}
              </div>
          {% endblock %}
        </div>
    </body>
</html>
