parameters:

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    app.github.username: hubdrop-user
    app.github.organization: drupalprojects
    app.drupal.username: hubdrop
    app.drupal.password: hubdrop
    app.url: www.hubdrop.org
    app.repo_path: /var/hubdrop/repos
    app.jenkins_url: jenkins:8080
    app.jenkins_username: hubdrop
    app.jenkins_password: ConfigureInJenkins
    app.github.authorization: ''
