parameters:

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    app.github.username: hubdrop-user
    app.github.organization: drupalprojects
    app.drupal.username: hubdrop
    app.url: hubdrop.org
    app.jenkins_url: hubdrop.org:8080
    app.github.authorization: ''