#header {
  padding: 44px 15px 115px;
  text-align: center;
}
.jumbotron {
    padding-top: 10px !important;
}

.jumbotron h1 {
  position: relative;
  font-size: 63px !important;
  line-height: 14pt;
}
 #project-go-form {
  margin: 0px 5%;
  max-width: 400px;
 }

 .mirrored .jumbotron h1 {
   text-align: center;
 }


@media screen and (min-width: 400px){
  #project-go-form {
    margin: 0px auto;
  }
}

#mirror-status-label {
  font-size: 14pt !important;
  margin-left: 20px;
}

#mirror-status {
  margin-top: 30px;
}
a#mirror-button.btn {
  white-space: normal;
}

#footer-message {
  margin: 40px auto;
}

#share-bar {
  position: absolute;
  top: 10px;
  left: 10px;
}

section.project {
  margin-top: 10px;
}

input:disabled{
  text-decoration:line-through;
}

.alert-success {
  margin-top: 50px;
}