#header {
  padding: 40px 15px;
  text-align: center;
}
.jumbotron h1 {
  position: relative;
  font-size: 63px !important;
  line-height: 14pt;
}
 #project-go-form {
  margin: 0px 5%;
  max-width: 400px;
 }


@media screen and (min-width: 400px){
  #project-go-form {
    margin: 0px auto;
  }
}

#mirror-status-label {
  font-size: 14pt !important;
  margin-left: 20px;
}

#drupal-info {
  margin-top: 30px;
}

#mirror-button {
  margin: 40px 0px;
}

#footer-message {
  margin: 40px auto;
}

#share-bar {
  position: absolute;
  top: 10px;
  left: 10px;
}
