{% extends 'HubDropBundle::layout.html.twig' %}

{% block title %}HubDrop.io - Welcome{% endblock %}

{% block content_header '' %}

{% block content %}

    <h1 class="title">Welcome to HubDrop</h1>

    <h2>Mirror Drupal.org projects on GitHub.</h2>

{% endblock %}
