{% extends 'HubDropBundle::layout.html.twig' %}

{% block content_header '' %}

{% block content %}

    <form>
      <code class='inline'>http://drupal.org/project/</code><input type="textfield" placeholder="project_name" name="project_name" class="form-control project" required autofocus>
      <input type="submit" value="Go" class="btn btn-sm btn-success">
    </form>
  
{% endblock %}
