{% extends 'HubDropBundle::layout.html.twig' %}

{% block content_header '' %}

{% block content %}
    <div id="header">
        <a href='{{ path('_home') }}'><img src='/img/logo.png'></a>

        <h1><a href='{{ path('_home') }}'>{% block title 'HubDrop.io' %}</a></h1>
        <p class='lead'>Mirror drupal.org projects on GitHub.</p>
    </div>
    <a href="https://github.com/hubdrop/"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

    <form id="project-go-form" class="text-center">
      <div class="input-group">
        <span class="input-group-addon">http://drupal.org/project/</span>
        <input type="text"  class="form-control project" placeholder="Project Name" name="project_name"  required autofocus>
        <span class="input-group-btn">
          <input type="submit" value="Go" class="btn btn-success">
        </span>
      </div>
    </form>

{% endblock %}
