{% extends 'HubDropBundle::layout.html.twig' %}

{% block content_header '' %}

{% block content %}

    <p>Welcome to HubDrop</p>
    <h2>Mirror Drupal.org projects on GitHub.</h2>

    <p>Simply visit http://{{site_base_url}}/project/name to start tracking a Drupal project on GitHub.</p>

{% endblock %}
